{% extends 'base.html.twig' %}

{% block title %}EUROKEYS{% endblock %}

{% block body %}

            <div class="row mt-5 justify-content-center">
                    <div class="col-11 col-lg-9 card mb-5 text-center shadow">
                        <h2 class="card-title mt-3">{{post.title}}</h2>
                        <time class="mt-3" datetime={{post.createdAt|date('d-m-Y')}}> 📅 Publié le {{post.createdAt|date('d-m-Y')}}  </time>
                        <img class="card-img-top mt-3 mb-3" src="{{ (post.imageName ? vich_uploader_asset(post) : asset('images/placeholder.jpg'))}}" alt="" />
                        <p class="mt-3">{{post.description}}</p>
                    </div>
            </div>
      
{% endblock %}
