{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <h1 class="text-center mt-5">Liste des publications</h1>
        <h4 class="text-center mt-3"><a href="{{path('app_home')}}">Accueil</a></h4>
        <table class="table mt-5">
            <thead>
                <tr class="text-center">
                    <th scope="col-3" >#</th>
                    <th scope="col-3" >Titre</th>
                    <th scope="col-3">Publication</th>
                    <th scope="col-3" >Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr class="text-center">
                    <td >{{post.id}}</td>
                    <td >{{post.title}}</td>
                    <td >{{post.createdAt|date('j-m-Y')}}</td>
                    <td >
                        <a href="{{path('app_admin_edit', {id : post.id})}}" class="btn btn-primary">EDITER</a>
                        <a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr(e) ?')&&document.getElementById('js-post-delete-form').submit();" class="btn btn-primary">Supprimer</a>

                        <form id="js-post-delete-form"action="{{ path('app_admin_delete', {id : post.id}) }}" method="POST" style="display:none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('post_deletion' ~ post.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

                
{% endblock %}
